doctype html
html
  head
    meta(charset='utf-8')
    //- meta(NAME="robots" CONTENT="index,follow") 
    title=titles
    link(href="https://fonts.googleapis.com/css?family=Roboto|Oswald|Raleway" rel="stylesheet")
    link(rel='stylesheet' type='text/css' href='./css/main.css')
    meta(name="viewport" content="width=device-width, user-scalable=no")
    //- link(rel="canonical" href="index.html")
    link(rel="shortcut icon" href="./images/favicon.ico")
    //- script(src="https://player.vimeo.com/api/player.js" defer)*/
    block infiles
    //- meta( property="og:type" content="website")
    //- meta( property="og:title" content="")
    //- meta( property="og:description" content="")
    //- meta( property="og:image" content="http://www.beige.studio/images/beige20x22.png")
    //- meta( property="og:url" content="http://www.beige.studio/article/article1.html")
    
    //- meta( name="twitter:card" content="summary")
    //- meta( name="twitter:description" content="프리미엄 웨딩영상 스튜디오")
    //- meta( name="twitter:title" content="베이지 웨딩영상")
    //- meta( name="twitter:image" content="http://www.beige.studio/images/beige20x22.png")
    //- meta( name="twitter:domain" content="베이지 웨딩영상")
    //- 
    //- meta( name="description" content="베이지 웨딩영상,vDSLR웨딩영상,프리미엄웨딩영상,웨딩영상 촬영및제작업체")


  body
    block contents

    //footer.footer: <br><br><br>
      #short
        //- img(src="images/beige20x22.png" alt="logo")
        a(href="./index.html") HOME
        a(href="./about.html") ABOUT
        a(href="./privacy.html") PRIVACY
        a(href="./faq.html") FAQ
      <br><br>
      //--#sum TEL. 010.4234 - 8199 / AM 10:00 - PM 06:00 / WOORI BANK 1002-840-056661 / NAEN Studio.<br><br>
      //--#sums NAEN Studio./38-21, Digital-ro 31-gil, Guro-gu, Seoul/ TEL. 010.4234-8199 / E-MAIL mydaynys@gmail.com<br>
            |BUSINESS REG.NO : 285-27-00312 / CEO : CHOI SE JUN<br>
            |COPYRIGHT (c) NAEN Studio ALL RIGHTS RESERVED.<br>
