//output: ../public/index.html
//{
    titles: "Dayny",
    myFunc: function(){
      return true;
    }
  }
extends ./includes/layout.jade

block infiles
  script(type="text/javascript" src="./js/index.js")

block contents
  header
    nav.col-nav
      a(href="#" onclick="") Contact     
      a(href="#" onclick="") Board
      a(href="#" onclick="") Reserve
      a(href="#" onclick="") Gallery
      a(href="#" onclick="") Privacy

    //- .wrapper
    //-   p mainW

  .top
    p top contents 12345
    p top contents 34562
  

  .grid.col-main
    - var n = 0;
    while n++ < 10
      li.grid-item
        a(href="#")
          img(src="https://i.vimeocdn.com/video/616697471_1560x878.jpg")
          p= "Aaaaa Bbbb  "+ n

  .scrollContainer
    #scrollbar

  script(src="./js/scrbar.js")
  script.
    new CstmScrollbar( document.getElementById('scrollbar') );
