* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    position: relative;

    padding : 0;
    margin : 0;
}

a {
    text-decoration : none;
}

li {
    list-style: none;
}

body {
  width: 100%;
  overflow-y: hidden;
}

/*default 모바일 */

header nav {
  left: 0px;
  top: 10px;
  font-size: 16px;
  line-height: 24px;
  width : 100%;
  border: 0;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);

}

header nav a {
  color: #000;
display: inline;  /*이후 block으로*/
text-decoration: none;
-webkit-transition-duration: 0.4s;
transition-duration: 0.4s;

margin: 0 10px;
}

#main{
width: 100%;

}

.top {
 width: 100%;
 height: 80px;
}

.grid {
  height: auto;
margin : 0 auto;
}

.grid img {
  max-width : 100%;
}

.grid-item {
  width : 100%;
  /*display: inline-flex;*/
  float: left;
}


/* 12 - grid */
[class*="col-"] {

    width: 90%;
    /*float: left;*/

}

@media only screen and (min-width: 650px) {

  body {
          background: #f1f1f1;
  }

  .col-nav {
    width: 100px;
  }

  .col-main{
    width: 100%;
    padding-left: 130px;
  }

  .grid {

  }

  header nav {
    left: 25px;
    top: 80px;
    font-size: 15px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
  }
  header nav a {
    display : block;
  }
  .grid-item {
    width : 50%;
    padding: 0 15px;
  }
}

@media only screen and (min-width: 950px) {


  .col-nav {
    width: 125px;

  }

  .col-main{
    width: 100% ;
    padding-left: 180px;
  }

  header nav {
    left: 45px;
    top: 100px;
    font-size: 18px;
    line-height: 28px;

    padding-top: 35px;
    padding-bottom: 35px;
  }

  .grid-item {
    width : 25%;
  }
}

.scrollContainer {

}

#scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 2px;

  background: #000;
  transition: background .6s cubic-bezier(.19,1,.22,1);
}
